---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "purecss/purecss",
        "colors",
        "utils",
        "fonts",
        "home",
        "bars",
        "header",
        "cards",
        "petitions",
        "pages",
        "footer"
;

html {
    font-size: 100%;
    text-rendering: optimizelegibility;
    font-feature-settings: "liga","kern";
}
body {
    font-family: $sans;
    color: #333;
    line-height: 1.45;
}
.pure-g [class*="pure-u"] {
    font-family: $sans;
}
.column {
	width: calc(100% - 0.5rem);
	max-width: 1400px;
	margin: auto;
}
p {
    margin-bottom: 1.3rem;
}
h1, h2, h3, h4 {
    margin: 1.414rem 0 0.5rem;
    font-weight: inherit;
    line-height: 1.2;
}
h1 {
    font-size: $h1;
}
h2 {
    font-size: $h2;
}
h3 {
    font-size: $h3;
}
h4 {
    font-size: $h4;
}
small {
    font-size: $small;
}
