---
layout: default
---
<div class="pure-u-1 pure-u-md-1-3 mb2">
    <div class="m2">
        <div class="mainCopy mb2">
            <h1 class="mainTitle">Peticiones abiertas</h1>
            <p class="mainDesc">La ley de transparencia permite a cualquier ciudadano realizar peticiones de información a organizaciones públicas. Y ellas están obligadas a responder.</p>
            <p class="mainDesc">Actualmente no hay ningún registro de las respuestas y los datos aportados, lo que es desperdicio de energía. Y realizar una petición no es sencillo.</p>
            <p class="mainDesc">Con este sitio nos proponemos:</p>
            <p class="mainDesc">- crear un registro público de peticiones de información y de los datos que las instituciones aportan como respuesta (y dejar constancia de las negativas)</p>
            <p class="mainDesc">- mostrar ejemplos de peticiones de información para inspirar y ayudar a realizar otras nuevas.</p>
        </div>
        <footer>
            <div class="pure-u-1 pure-u-md-5-5 center mb2">
                <img class="logo img-fluid" src="/img/logo-populate-tools.png" alt="Populate Tools">
            </div>
            <div class="pure-g center">
                <div class="pure-u-1 pure-u-md-1-3">
                    <a href="https://twitter.com/{{site.twitter_username}}">Twitter</a>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <a href="https://github.com/{{site.github_username}}">GitHub</a>
                </div>
                <div class="pure-u-1 pure-u-md-1-3">
                    <a href="mailto:{{site.email}}">email</a>
                </div>
            </div>
        </footer>
    </div>
</div>

<div class="pure-u-1 pure-u-md-2-3">
    <div class="m2">
        <h4 class="petitionTitle mb2">Últimas peticiones registradas</h4>

        {% for petition in site.peticiones %}
        <div class="card mb2">
            {% if petition.status == 'aceptada' %}
                <div class="statusBar bgGreen"></div>
            {% elsif petition.status == 'en curso' %}
                <div class="statusBar bgOrange"></div>
            {% else %}
                <div class="statusBar bgRed"></div>
            {% endif %}
            <div class="p1">
                <small class="meta">{{petition.author}} / <a class="cardLink" href="https://twitter.com/{{petition.handle}}">@{{petition.handle}}</a><span class="date pull-right">{{petition.date | date: '%B %d, %Y'}}</span></small>
                <h3 class="mb1 mt1"><a class="petitionLink" href="{{ petition.url | prepend: site.baseurl }}">{{ petition.title }}</a></h3>
                <small class="meta"><span class="up">{{petition.status}}</span> / <a class="cardLink" href="/{{petition.org}}">{{petition.org}}</a><span class="pull-right"><a class="cardLink up" href="{{petition.data}}"><svg width="15" height="15" class="download" viewBox="0 0 1800 1800" xmlns="http://www.w3.org/2000/svg"><path d="M1344 1344q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm256 0q0-26-19-45t-45-19-45 19-19 45 19 45 45 19 45-19 19-45zm128-224v320q0 40-28 68t-68 28h-1472q-40 0-68-28t-28-68v-320q0-40 28-68t68-28h465l135 136q58 56 136 56t136-56l136-136h464q40 0 68 28t28 68zm-325-569q17 41-14 70l-448 448q-18 19-45 19t-45-19l-448-448q-31-29-14-70 17-39 59-39h256v-448q0-26 19-45t45-19h256q26 0 45 19t19 45v448h256q42 0 59 39z"/></svg><span>Descargar datos</span></a></span></small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
