footer {
  border-top: 1px solid $light_grey;
  padding: 1rem 0 0 0;
  margin: 2rem 0 0 0;
}


.logo {
  max-width: 120px;
  margin: 0 auto;
}
.footerLink {
  fill: $grey;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.footerCopy {
  font-size: $small;
}
