.header {
  margin: 1rem 1rem 0 1rem;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid $light_grey;
}
.mainTitle {
  font-weight: 700;
  font-size: $h2;
  display: inline-block;
  margin-right: 1rem;
  // border-bottom: 4px solid $light_blue;
}
.headerLink {
  display: block;
}
.headerButton {
  float: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.aboutLink {
  text-decoration: underline;
}
h1.mainTitle {
  a {
    text-decoration: none;
    color: $black;
  }
}

@media (min-width: 768px) {
  .header {
    margin: 2rem 2rem 2rem 2rem;
  }
  .headerLink {
    display: inline-block;
  }
  .headerButton {
    float: right;
    margin-bottom: 0;
    margin-top: 2rem;
  }
}
