.mainTitle {
    font-weight: 700;
    display: table;
    font-size: $h2;
    border-bottom: 4px solid $light_blue;
}
.mainDesc {
    font-family: $sans;
}
.petitionTitle {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: $small
}
.logo {
    max-width: 100px;
    margin: 0 auto;
}