.mainCopy {
    text-align: center;
}
.petitionTitle {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: $small;
    text-align: center;
}
.logo {
    max-width: 100px;
    margin: 0 auto;
}
.wrapper {
    margin: 0.5rem 1rem 0 1rem;
}

@media (min-width: 768px) {
    .wrapper {
        margin: 0.5rem 2rem 0 2rem;
    }
    .petitionTitle {
        text-align: left;
    }
}